<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="阿翼" />
    <title>{$title} </title>
    <!-- Bootstrap -->
    <link href="__DOC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__DOC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__DOC__/highlight/styles/default.css" rel="stylesheet">
    <link href="__DOC__/highlight/styles/zenburn.css" rel="stylesheet">
    <link href="__DOC__/jstree/themes/default/style.css" rel="stylesheet">
    <link href="__DOC__/nprogress/nprogress.css" rel="stylesheet">
    <link href="__DOC__/styles/kancloud.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="__DOC__/bootstrap/js/html5shiv.min.js"></script>
    <script src="__DOC__/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="__DOC__/scripts/jquery.min.js" type="text/javascript"></script>

</head>
<body>
<div class="m-manual manual-reader">

    <header class="navbar navbar-static-top manual-head" role="banner">
        <div class="container-fluid">
            <div class="navbar-header pull-left manual-title">
                <span class="slidebar" id="slidebar"><i class="fa fa-align-justify"></i></span>
                {$project->project_name}
            </div>
            <div class="navbar-header pull-right manual-menu">
                <div class="dropdown">
                    <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span href="javascript:" data-toggle="modal" data-target="#shareProject">项目分享</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <article class="container-fluid manual-body">
        <div class="manual-left">
            <div class="manual-tab">
                <div class="tab-navg">
                    <span data-mode="view" class="navg-item active"><i class="fa fa-align-justify"></i><b class="text">目录</b></span>
                </div>
                <div class="tab-wrap">
                    <div class="tab-item manual-catalog">
                        <div class="catalog-list read-book-preview" id="sidebar">
                            {$tree}
                        </div>

                    </div>
                </div>
            </div>
            <div class="m-copyright">
                <p>
                    本文档由阿翼发布，广告合作:QQ-2514539827
                </p>
            </div>
        </div>
        <div class="manual-right">
            <div class="manual-article">
                <div class="article-head">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8 text-center">
                                <h1 id="article-title">{$title}</h1>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="article-content">
                    <div class="article-body editor-content"  id="page-content">
                        {$body}
                    </div>
                </div>
            </div>
        </div>
        <div class="manual-progress"><b class="progress-bar"></b></div>
    </article>
    <div class="manual-mask"></div>
</div>

<div class="modal fade" id="shareProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">项目分享</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">项目地址</label>
                    <div class="col-sm-10">
                        <input type="text" value="{$host}/docs/show/{$doc_first_id}" class="form-control" onmouseover="this.select()" id="projectUrl" title="项目地址">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__DOC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__DOC__/jstree/jstree.min.js"></script>
<script type="text/javascript" src="__DOC__/layer/layer.js"></script>
<script type="text/javascript" src="__DOC__/nprogress/nprogress.js"></script>
<script type="text/javascript" src="__DOC__/highlight/highlight.js"></script>
<script type="text/javascript" src="__DOC__/highlight/highlightjs-line-numbers.min.js"></script>
<script type="text/javascript">
    var events = $("body");
    var catalog = null;
    /**
     * 初始化高亮插件
     */
    function initHighlighting() {
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        hljs.initLineNumbersOnLoad();
    }
    $(function () {
        initHighlighting();

        var windowHeight = $(window).height();
        var bodyHeight = $(document).height();

        $(window).resize(function(){
            var windowHeight = $(window).height();
            var bodyHeight = $(document).height();
        });

        catalog = $("#sidebar").jstree({
            'plugins':["wholerow","types"],
            "types": {
                "default" : {
                    "icon" : false  // 删除默认图标
                }
            },
            'core' : {
                'check_callback' : false,
                "multiple" : false ,
                'animation' : 0
            }
        }).on('select_node.jstree',function (node,selected,event) {
            $(".m-manual").removeClass('manual-mobile-show-left');
            var url = selected.node.a_attr.href;

            if(url == window.location.href){
                return false;
            }
            $.ajax({
                url : url,
                type : "GET",
                beforeSend :function (xhr) {
                    var body = events.data('body_' + selected.node.id);
                    var title = events.data('title_' + selected.node.id);
                    var doc_title = events.data('doc_title_' + selected.node.id);

                    if(body && title && doc_title){

                        $("#page-content").html(body);
                        $("title").text(title);
                        $("#article-title").text(doc_title);

                        events.trigger('article.open',url,true);

                        return false;
                    }
                    NProgress.start();
                },
                success : function (res) {
                    if(res.errcode == 0){
                        var body = res.data.body;
                        var doc_title = res.data.doc_title;
                        var title = res.data.title;

                        $("#page-content").html(body);
                        $("title").text(title);
                        $("#article-title").text(doc_title);

                        events.data('body_' + selected.node.id,body);
                        events.data('title_' + selected.node.id,title);
                        events.data('doc_title_' + selected.node.id,doc_title);

                        events.trigger('article.open',url,false);

                    }else{
                        layer.msg("加载失败");
                    }
                },
                complete : function () {
                    NProgress.done();
                }
            });
        });

        $("#slidebar").on("click",function () {
            $(".m-manual").addClass('manual-mobile-show-left');
        });
        $(".manual-mask").on("click",function () {
            $(".m-manual").removeClass('manual-mobile-show-left');
        });
    });

    events.on('article.open', function (event, url,init) {
        if ('pushState' in history) {

            if (init == false) {
                history.replaceState({}, '', url);
                init = true;
            } else {
                history.pushState({}, '', url);
            }

        } else {
            location.hash = url;
        }
        initHighlighting();

    });
</script>
</body>
</html>