<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/_header"/}
    <title>Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="__CSS__/docdetail.css" type="text/css"/>

</head>
<body>
{include file="public/_nav"/}
<section class="ayi-detail-contain">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 thumbnail">
                <img src="__IMG__/shop.jpg" class="img-responsive" />
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 ayi-d-d">
                <h1 class="">Laravel+Layim+GatewayWorker打造即时通讯系统</h1>
                <div class="description">
                    极云赋（GeChat）是基于Laravel+Layim+GatewayWorker打造的的一款独立的Web端即时通讯系统，由于其极为便捷，还可以被用作网站的客服系统.
                </div>
                <div class="extra">
                    <div>
                       <span class="btn btn-default">workerman</span>
                            <span class="btn btn-default">layIM</span>
                            <span class="btn btn-default">即时通讯</span>
                            <span class="btn btn-default">webim</span>
                            <span class="btn btn-default">极云赋</span>
                    </div>
                </div>
                <div class="mta">
                    价格：<span class="ayi-price">￥30.00</span>
                </div>
                <div class="ayi-pro">
                    <button type="button" class="btn btn-success">试读</button>
                    <button type="button" class="btn btn-danger">购买</button>
                </div>
                <div class="ayi-w-action">
                    <a class="action">
                        <i class="glyphicon glyphicon-heart-empty"></i>
                        <span class="text">关注</span>
                    </a>
                    <a class="action">
                        <i class="glyphicon glyphicon-alert"></i>
                        <span class="text">举报</span>
                    </a>
                    <div class="dropdown">
                        <a class="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="glyphicon glyphicon-share"></i>
                            <span class="text">分享</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">微博</a></li>
                            <li><a href="#">QQ</a></li>
                            <li><a href="#">微信</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ayi-tab-contain">
                <a class="item active" data-tab="dashboard">
                    概要
                </a>
                <a class="item" data-tab="catalog">
                    目录
                </a>
            </div>
        </div>
        <div class="ayi-hot">
            <h2>推荐阅读</h2>
            <div  class="row">
                <div class="thumbnail">
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                    <div><img src="__IMG__/shop.jpg" class="img-responsive"/> </div>
                </div>
            </div>
        </div>

    </div>
</section>
{include file="public/_footer"/}
</body>
</html>