<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/_header"/}
    <title>Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="__CSS__/docdetail.css" type="text/css"/>
</head>
<body>
{include file="public/_nav"/}
<section class="ayi-detail-contain">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 thumbnail">
                {if condition="$data.thumbnail"}
                <img src="{$data.thumbnail}" class="img-responsive"/>
                {else /}
                <img src="__IMG__/blank.jpg" class="img-responsive"/>
                {/if}
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 ayi-d-d">
                <h1 class="">{$data.project_name}</h1>
                <div class="description">
                    {$data.description}
                </div>
                <div class="extra">
                    <div>
                        {if condition="$tag"}
                           {volist name="tag" id="vo"}
                             <span class="btn btn-default">{$vo}</span>
                           {/volist}
                        {/if}
                    </div>
                </div>
                <div class="mta">
                    价格：<span class="ayi-price">￥{$data.price}</span>
                </div>
                {if condition="$data.doc_id gt 0"}
                <div class="ayi-pro">
                    <a href="/docs/show/{$data.doc_id}" target="_blank"><button type="button" class="btn btn-success">试读</button></a>
                    <button type="button" class="btn btn-danger">购买</button>
                </div>
                {/if}
                <div class="ayi-w-action">
                    <a class="action">
                        <i class="glyphicon glyphicon-heart-empty"></i>
                        <span class="text">关注</span>
                    </a>
                    <a class="action">
                        <i class="glyphicon glyphicon-alert"></i>
                        <span class="text">举报</span>
                    </a>
                    <div class="dropdown">
                        <a class="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="glyphicon glyphicon-share"></i>
                            <span class="text">分享</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">微博</a></li>
                            <li><a href="#">QQ</a></li>
                            <li><a href="#">微信</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ayi-tab-contain">
                <a class="item active" data-tab="dashboard">
                    目录
                </a>
                <!--<a class="item" data-tab="catalog">-->
                    <!--概要-->
                <!--</a>-->
            </div>
            <div class="doc-tree">
              {php}
                if($treeData){
                    echo "<ul>";
                        $arr=json_decode($treeData,true);
                        foreach($arr as $key=>$val){
                            echo "<li>".str_repeat("&nbsp;&nbsp;&nbsp;&nbsp;",$val['level']).$val['doc_name']."</li>";
                        }
                    echo "</ul>";
                }
              {/php}
            </div>
        </div>
        <div class="ayi-hot">
            <h2>推荐阅读</h2>
            <div  class="row">
                <div class="thumbnail" style="background: transparent;">
                    {if condition="$hotRes"}
                    {volist name="hotRes" id="vo"}
                        <div>{if condition="$vo.thumbnail"}
                            <img src="{$vo.thumbnail}" class="img-responsive"/>
                            {else /}<img src="__IMG__/blank.jpg" class="img-responsive"/>{/if}<p>{$vo.project_name}</p></div>
                    {/volist}
                    {/if}
                </div>
            </div>
        </div>

    </div>
</section>
{include file="public/_footer"/}
</body>
</html>