<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/_header" /}
    <title>Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="__CSS__/index.css" type="text/css"/>

</head>
<body>
{include file="public/_nav" /}

<section class="ayi-floor">
    <div class="ayi-floor-contain container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 ayi-c-left">
                    <h1>我是php</h1>
                    <div class="ayi-c-left-c">
                        <img src="__IMG__/shop.jpg"/>
                        <div class="ayi-c-l-msg">
                            <div class="ayi-c-l-mask"></div>
                            <div class="ayi-c-m">
                                <h4>createjs-从入门到精通</h4>
                                <p class="ayi-cl-price">
                                    ￥8.88
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="ayi-c-left-c">
                    <img src="__IMG__/shop.jpg"/>
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>createjs-从入门到精通</h4>
                            <p class="ayi-cl-price">
                                ￥8.88
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ayi-c-left-c">
                    <img src="__IMG__/shop.jpg"/>
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>createjs-从入门到精通</h4>
                            <p class="ayi-cl-price">
                                ￥8.88
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ayi-c-left-c">
                    <img src="__IMG__/shop.jpg"/>
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>createjs-从入门到精通</h4>
                            <p class="ayi-cl-price">
                                ￥8.88
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ayi-c-left-c">
                    <img src="__IMG__/shop.jpg"/>
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>createjs-从入门到精通</h4>
                            <p class="ayi-cl-price">
                                ￥8.88
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ayi-c-left-c">
                    <img src="__IMG__/shop.jpg"/>
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>createjs-从入门到精通</h4>
                            <p class="ayi-cl-price">
                                ￥8.88
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ayi-c-left-c">
                    <img src="__IMG__/shop.jpg"/>
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>createjs-从入门到精通</h4>
                            <p class="ayi-cl-price">
                                ￥8.88
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ayi-c-left-c">
                    <img src="__IMG__/shop.jpg"/>
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>createjs-从入门到精通</h4>
                            <p class="ayi-cl-price">
                                ￥8.88
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ayi-c-right">
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 ayi-c-left">
                    <h1>我是php</h1>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                    <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 ayi-c-left">
                <h1>我是php</h1>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 ayi-c-left">
                <h1>我是php</h1>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
                <div class="ayi-c-left-c"><img src="__IMG__/shop.jpg"/></div>
            </div>
        </div>
    </div>
</section>
{include file="public/_footer" /}
<script type="text/javascript">
    $(function () {
        $(".ayi-c-left-c").each(function (index) {
            $(this).hover(function () {
                $(".ayi-c-left-c").removeClass("ayi-c-left-c-hoverOut")
               $(".ayi-c-left-c").eq(index).addClass("ayi-c-left-c-hover");
            },function () {
                $(".ayi-c-left-c").eq(index).removeClass("ayi-c-left-c-hover");
                $(".ayi-c-left-c").eq(index).addClass("ayi-c-left-c-hoverOut");
            });
        });
    });
</script>
</body>
</html>
