<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/_header"/}
    <title>{$word}-阿翼文档</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="__CSS__/doclist.css" type="text/css"/>
</head>
<body>
{include file="public/_nav"/}
<section class="ayi-floor">
    <div class="ayi-floor-contain container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 ayi-c-left">
                <h1>
                    {volist name="cate" id="vo"}
                    <a href="/docs/list/{$vo.id}"> <span class="btn btn-default" title="{$vo.cate_name}">{$vo.cate_name}</span></a>
                    {/volist}
                </h1>
                {volist name ="project" id="vo"}
                <div class="ayi-c-left-c">
                    <a href="/docs/detail/{$vo.project_id}" target="_blank" title="{$vo.project_name}">
                    {if condition="$vo.thumbnail"}
                    <img src="{$vo.thumbnail}"/>
                    {else /}
                    <img src="__IMG__/blank.jpg"/>
                    {/if}
                    <div class="ayi-c-l-msg">
                        <div class="ayi-c-l-mask"></div>
                        <div class="ayi-c-m">
                            <h4>{$vo.project_name}</h4>
                            <p class="ayi-cl-price">
                                ￥{$vo.price}
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                {/volist}
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ayi-c-right">
                <div class="ayi-ad"><a href="javascript:" target="_blank" title="我是广告"><img src="__IMG__/bg.jpg" /></a></div>
            </div>
        </div>

        <div class="ayi-page-c">
            <nav aria-label="Page navigation">
                {$page}
            </nav>
        </div>
    </div>
</section>
{include file="public/_footer"}
</body>
</html>