<style type="text/css">
    .ayi-footer { background: #fff; }
    .ayi-footer .container .ayi-f-div { text-align: center; background: #f5f5f5; }
    .ayi-footer .container .ayi-copy { text-align: center; height: 50px; line-height: 50px; color: #666; }
</style>
<section class="ayi-footer">
    <div class="container">
        <div class="ayi-copy">
            版权所有，备案号：<a style="text-decoration: none; color:#666;" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18095029号-2</a>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-sm-3 col-md-3 col-lg-3 ayi-f-div">dig</div>-->
        <!--<div class="col-sm-3 col-md-3 col-lg-3 ayi-f-div">die</div>-->
        <!--<div class="col-sm-3 col-md-3 col-lg-3 ayi-f-div">dis</div>-->
        <!--<div class="col-sm-3 col-md-3 col-lg-3 ayi-f-div">disi</div>-->
        <!--</div>-->
    </div>
</section>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>