<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="">
<!-- Bootstrap core CSS -->
<link href="__CSS__/bootstrap.min.css" rel="stylesheet">

<!--[if lt IE 9]><script src="__JS__/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="__JS__/ie-emulation-modes-warning.js"></script>
<!--[if lt IE 9]>
<script src="__JS__/html5shiv.min.js"></script>
<script src="__JS__/respond.min.js"></script>
<![endif]-->