{extend name="Public:member:_layout" /}
{block name="title"}我的收藏{/block}
{block name="menu_name"}
    我的收藏
{/block}
{block name="body"}
{if condition="$list"}
{volist name="list" id="vo"}
<div class="row placeholders">
    <div class="col-sm-2">
        {if condition="$vo.thumbnail"}
        <img src="{$vo.thumbnail}" class="img-responsive" alt="{$vo.project_name}"/>
        {else /}
        <img src="__IMG__/blank.jpg" class="img-responsive" alt="{$vo.project_name}"/>
        {/if}
    </div>
    <div class="col-sm-10">
        <h4>{$vo.project_name}</h4>
        <span class="text-muted">{$vo.description}</span>
        <div>
            <button type="button" class="btn btn-danger">删除</button>
            <button type="button" class="btn btn-success">购买</button>
            <button type="button" class="btn btn-info">阅读</button>
        </div>
    </div>
</div>
{/volist}
{else /}
<div class="alert alert-info" role="alert">赞无购买的文档</div>
{/if}
<div class="row" style="text-align: center">
    {$page}
</div>
{/block}